<footer>
    <div class="copyright border-top d-flex justify-content-center">
        <ul class="p-0">
            <li><img src="../../../assets/images/home.png" alt="img" /> Home</li>
            <li class="active"><img src="../../../assets/images/mathces.png" alt="img" />Matches</li>
            <li><img src="../../../assets/images/mailbox.png" alt="img" />Mailbox</li>
            <li><img src="../../../assets/images/notifications.png" alt="img" />Notifications</li>
            <li><img src="../../../assets/images/search.png" alt="img" />Search</li>
        </ul>
    </div>    
</footer>