.icon-color {
    color: #3690B2;
    font-size: 20px;
}

.chat-icon-color {
    color: #B9B9B9;
    font-size: 20px;
}

.status-font-size {
    font-size: 12px;
}

.addr-font-size {
    font-size: 14px;
}

.profile-image {
    background-size: cover;
    width: 90px;
    height: 90px;
}

.card-content {
    box-shadow: 0px 0px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.mat-card {
    border-radius: 6px;
}

.primeGold {
    color: goldenrod;
}

.assisted {
    color: darkblue;
}

:host ::ng-deep {
    .mat-mdc-card-content:first-child {
        padding-top: 0px !important;
    }

    .mat-mdc-card-content {
        display: block;
        padding: 0px 0px 10px 0px !important;
    }
}

mat-icon.flag {
    height: 15px !important;
    width: 15px !important;
    transform: rotate(270deg);
    font-size: 15px;
}

.fsl {
    font-size: 1.4rem;
}

.prime-button {
    background: linear-gradient(to right, #FCD57F, #CF8219);
    color: black !important;
    border-radius: 25px;
    border: 2px solid #dfdfdf;
    height: 27px;
    width: 70px;
    display: block;
    font-size: 14px !important;
    padding: 1px 5px;
    font-weight: 600;
    bottom: 2px;
    box-shadow: 0px 0px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19)
}

.id-color {
    color: #aca7a7 !important;
}