<mat-card class="card-content px-3 pt-3 mb-3">
    <mat-card-content>
        <div class="d-flex">
            <div class="col-4 d-flex position-relative justify-content-end pe-3 pt-2 pb-0">
                <div mat-card-avatar class="profile-image"
                    [ngStyle]="{'background-image': 'url(' + matchData.img + ')'}">
                </div>
                <ng-container *ngIf="!!matchData.memberShipStatus && matchData.memberShipStatus.show &&  matchData.memberShipStatus.prime">                
                    <p class="bottom-0 m-0 position-absolute prime-button start-50 text-uppercase text-center translate-middle-x">
                        Prime
                    </p>
                </ng-container>
            </div>
            <div class="col-8 p-0">
                <div class="d-flex justify-content-between mb-3">
                    <div class="d-flex flex-column w-100">
                        <div class="d-flex justify-content-start">
                            <h5 class="mb-0 pr-1 addr-font-size id-color">{{matchData.id}}</h5>
                            <ng-container *ngIf="!!matchData.memberShipStatus && matchData.memberShipStatus.show">
                                <span
                                    class="status-font-size ps-2 d-flex align-items-center text-uppercase d-flex align-items-center"
                                    [ngClass]="{'assisted':  matchData.memberShipStatus.assisted, 'primeGold': matchData.memberShipStatus.prime}">
                                    <p class="m-0">
                                        <ng-container *ngIf="matchData.memberShipStatus.assisted">
                                            Assisted
                                        </ng-container>
                                        <ng-container *ngIf="matchData.memberShipStatus.prime">
                                            Prime gold
                                        </ng-container>
                                    </p>
                                    <mat-icon class="flag ms-1">bookmark</mat-icon>
                                </span>
                            </ng-container>
                        </div>
                        <p class="fsl fw-light m-0">{{matchData.name}}</p>
                    </div>
                    <div>
                        <mat-icon>more_vert</mat-icon>
                    </div>
                </div>
                <span class="d-flex align-items-center">
                    <h5 class="mb-0 addr-font-size">{{matchData.age}}yrs, {{matchData.ht}},
                        {{matchData.marriageStatus}},</h5>
                </span>
                <span class="d-flex align-items-center">
                    <h5 class="mb-0 addr-font-size">{{matchData.address}},</h5>
                </span>
                <span class="d-flex align-items-center">
                    <h5 class="mb-0 addr-font-size">{{matchData.Prof}}, {{matchData.degree}}.</h5>
                </span>
            </div>
        </div>
    </mat-card-content>
    <mat-divider></mat-divider>

    <mat-card-footer>
        <div class="d-flex justify-content-around pb-3 pt-2">
            <div class="d-flex align-items-center">
                <mat-icon fontIcon="star" class="icon-color"></mat-icon>
                <span class="pb-1">Shortlist</span>
            </div>
            <div class="d-flex align-items-center">
                <mat-icon fontIcon="textsms" class="chat-icon-color"></mat-icon>
                <span class="pb-1">{{matchData.lastchatted}}</span>
            </div>
            <div class="d-flex align-items-center">
                <mat-icon fontIcon="check_circle" class="icon-color"></mat-icon>
                <span class="pb-1">Send Interest</span>
            </div>
        </div>
    </mat-card-footer>
</mat-card>