.card{
    max-height: 150px;
}
  
.mat-mdc-outlined-button.edit-btn {
   color: #6A9C9A;
   border-color: #6A9C9A !important;
}

.custom_hight{
    height: 75vh!important;
    overflow: scroll;
}


:host {
    max-width: 530px;
    margin: auto;
    display: block;
}

::ng-deep.addr-font-size {
    font-size: 15px!important;
    color: rgb(170,170,170)!important;
    font-weight: 500!important;
}