<div class="container mt-3 custom_hight " #scrollMe (scroll)="onScroll()">
  <div class="d-flex justify-content-between p-0 mb-3">
    <div class="col-8 p-0">
      <h4 class="m-0">
        {{currentViewData.newUsers}} New members who match your profile information
      </h4>
    </div>
    <div class="col-3 p-0">
      <button mat-stroked-button class="edit-btn ms-auto d-block rounded-pill border-light">
        <mat-icon>edit</mat-icon>
        Edit</button>
    </div>
  </div>
  <ng-container *ngIf="currentViewData.list.length">
    <ng-container *ngFor="let data of currentViewData.list">
      <app-match-card [matchData]="data">
      </app-match-card>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="!currentViewData.list.length">
    <p class="fw-bold text-capitalize text-center">No list found</p>
  </ng-container>
</div>